[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.24"
optimizer = true
optimizer_runs = 1000
via_ir = true

[fmt]
line_length = 100
tab_width = 4

[fuzz]
runs = 256

[profile.coverage]
optimizer = true
optimizer_runs = 200
via_ir = true
