/* Global styles for Next.js app */
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}